<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style.css">
  <link rel="shortcut icon" href="assets/img/soloSimboloLogo.ico" type="image/x-icon">
  <title>Login</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" @submit.prevent="" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="Email" v-model="email" required />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" v-model="password" required />
            </div>
            <input type="submit" value="Login" class="btn1 solid" @click="login()" />
            </div>
          </form>
          <form action="#" @submit.prevent="" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Name" v-model="nameRegister" required />
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Lastname" v-model="lastNameRegister" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" v-model="emailRegister" required />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" v-model="passwordRegister" required  />
            </div>
            <input type="submit" class="btn1" value="Sign up" @click="register" />
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Join VruBank</h3>
            <p>
              VruBank is the best option if you want to keep your money safe, constantly growing and in good hands.
            </p>
            <button class="btn1 transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="./assets/img/Digital nomad-pana.svg" class="image" alt="image log" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>Are you already registered?</h3>
            <p>
              Press the button below to go to login
            </p>
            <button class="btn1 transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="./assets/img/All the data-pana.svg" class="image" alt="image register" />
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="./assets/index.js"></script>
</body>
</html>